/* ------Base Styles------- */

* {
    box-sizing: border-box;

}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: rgb(48, 45, 44);
}

h1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: turquoise;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.8em;
}

header h2 {
    text-align: center;

}

header h3 {
    text-align: center;
    margin: 0 1em 2em 1em;

}

h2 {
    font-weight: 500;
    font-size: 1.8em;

}

legend{
    font-weight: 500;
    font-size: 1.8em; 
    text-align: center;
    margin: 1.0em auto;
    padding-top: 0.5em;
}

h3 {

    color: rgb(151, 141, 141);
    font-size: 1.4em;
    font-weight: 100;
}

#optional legend{
    margin-bottom: 0;
}


.thick {
    height: 7px;
    background-color: black;
    margin-bottom: 3px;
}

.thin {
    height: 5px;
    background-color: black;
    display: block;
    margin-top: 0;
    padding-top: 0;
}

/* ---Main Container styling */

#container {
    width: 90%;
    margin: 0 auto;
}

/* ----Form Fields----- */

fieldset {
    border: 0;
}

label {
    font-size: 1.2em;
    color: grey;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
select {
    font-size: 1.5em;
    color: black;
    font-weight: 300;

    height: 3em;
    padding: 15px;
    outline: 0;
    margin-bottom: 1.2em;
    border-radius: .3em;
    background-color: #e8eeef;
}

.informational input {
    width: 100%;
}

input,
select,
textarea {
    border: none;
    outline: 0;
    
}


textarea {
    height: 7em;
    margin-top: 1em;
    width: 100%;
}

.zip-code input {
    width: 50%;

}

.input-block {
    display: flex;
    flex-direction: column;
}


input::placeholder {
    text-align: right;
}

input[type="tel"]::placeholder {
    text-align: left;

}

input[type="checkbox"]+label {
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 1.5em;
}

input[type="radio"]+label {
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 1.5em;
}


input:focus,
select:focus,
textarea:focus {
    transition: ease 1s;
    border: solid 3px #52bab3;
   
}

/* -----Button Styling------ */

input[type="submit"] {
    outline: none;
    width: 100%;
    font-size: 2em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: tomato;
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    border: none;
}

.btn {
    transition: 1s ease;
}

.btn:hover {
    background-color: rgb(4, 118, 146);

}

/* -----Footer------ */

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 50px;
    font-size: 1.2em;
    color: grey;
}

/* ------Media Queries---------- */

@media (min-width: 768px) {
    #container {
        width: 80%;
        margin: 0 auto;
    }

    hr {
        margin-left: 0;
        margin-right: 0;
    }

    .input-block input,
    select {

        width: 80%;
    }


    .main-header {
        display: none;
    }

    .input-block {
        display: flex;
        flex-direction: row;

    }

    .inp {
        justify-content: space-between;
    }

    .input-block label {
        flex-basis: 25%;
		padding: 10px;
		
    }

    .zip-code input {
        width: 25%;
        margin-left: -10px;
    }


}